/* Description: Master CSS file */

/*****************************************
Colors:
- Background - dark blue #1f2936
- Text - white #ffffff
- Secondary Text - off-white (199, 199, 199)
- Links - light blue #55DDFF
- Link hover - darker light blue #40B4D0
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
	width: 100%;
	height: 100%;
}

body, p {
	color: #ffffff; 
	background-color: #1f2936;
	font: 400 1rem/1.625rem "Roboto", sans-serif;
	padding-top: 1.5rem;
	font-size: 1.25rem;
	line-height: 2.2rem;
	padding-bottom: 2rem;
}

h1 {
	font-weight: bold;
	font-family: 'Rubik', sans-serif;
	font-size: 2.9rem;
	line-height: 2.75rem;
	letter-spacing: -0.7px;
	color: #ffffff;
}

h2 {
	font-weight: 700;
	line-height: 2.625rem;
	letter-spacing: -0.4px;
	color: #ffffff;
	font-size: 22px;
	padding-top: 1rem;
}

h3 {
	color: white;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.375rem;
	letter-spacing: -0.4px;
	margin-bottom: 0rem;
}

h4 {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.125rem;
	letter-spacing: -0.4px;
}

h5 {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

h6 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.h1-large {
	font-family: 'Rubik', sans-serif;
	font-size: 3rem;
	line-height: 2.75rem;
	letter-spacing: -0.7px;
	font-weight:lighter;
	color: #ffffff;
}

.p-large {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
	color: white;
	padding-top:5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #55DDFF;
	text-decoration: underline;
}

a:hover {
	color: #40B4D0;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.read-more {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.read-more .fas {
	margin-left: 0.625rem;
	font-size: 1rem;
	vertical-align: -8%;
}

.btn {
	margin-top: 1rem;
	color: white;
}


/*****************/
/*    EduWallet Page    */
/*****************/
.eduwallet {
	padding-bottom: 1.5rem;
}

.eduwallet-icon {
	width: 12rem;
}	

.ios-icon {
	padding-top:1rem;
	width: 10rem;
}

.android-icon {
	padding-top:1rem;
	width: 13.2rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 500px */
@media (min-width: 500px) {

	h1 {
		font-size: 4rem;
	}

	h2 {

		font-size: 1.75rem;
	}

	.eduwallet-icon {
		width: 15rem;
	}

	/* end of extra pages */

}
/* end of min-width 500px */

